.footer{
  width:100%;

  margin-top:24px;
  padding: 24px 0;

  background-color: #000;
  text-align: center;
}
.footer > p{
  
}
.footer > p > a{
  font-style: inherit;
  font-size: inherit;
  color:inherit;
  font-weight: bold;
}
.footer > p > a:hover{
  color:#c7c7c7;
}